.ma1-items-container {
    width: 67%;
}

.ma1-item-container > img {
    width: 100px;
    height: 140px;
    object-fit: cover;
}

.ad-address-container {
    width: 65% !important;
}

.ad-details {
    padding: 15px 15px !important;
}

.pd-price-box {
    width: 30%;
}

.cart-back-arrow {
    margin-left: 30px !important;
    color: '#876952';
    cursor: pointer;
}

.ma1-item-description {
    font-size: 15px;
}

.ma1-status {
    font-size: 14px;
}

/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {

    .ma1-items-container {
        padding: 30px !important;
    }

    .ma1-price-container {
        padding: 30px !important;
    }

    .ma1-item-container > img {
        /* width: 143px; */
        /* height: 200px; */
    }

    .ma1-item-title {
        font-size: 22px !important;
    }

    .ma1-item-description {
        margin-bottom: 1px !important;
    }

    .ma1-item-price {
        font-size: 20px !important;
        font-weight: 500 !important;
    }

    .ma1-item-size {
        padding: 3px 15px !important;
    }

    .ad-address-container {
        width: 60% !important;
        /* margin-right: 30px !important; */
    }

    .pd-price-box {
        width: 40%;
    }
}

/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
    .ma1-container {
        flex-direction: column !important;
        align-items: center !important;
    }

    .ma1-items-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .ma1-price-container {
        width: 50%;
    }

    .ma1-items-container {
        margin-right: 0px !important;
    }
    
    .ad-address-container {
        width: 80% !important;
        margin: 0 !important;
    }

    .pd-price-box {
        width: 50% !important;
    }
}

/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {
    .cart-tab-container {
        padding: 30px 0px !important;
    }

    .ma1-price-container {
        width: 100%;
    }

    .ma1-item-description {
        margin-bottom: 1px !important;
    }

    .ma1-item-size {
        padding: 3px 15px !important;
        margin-right: 10px !important;
    }

    .ma1-quantity-box {
        padding: 10px 20px !important;
        font-size: 13px !important;
    }

    .ma1-item-container > img {
        margin-right: 30px !important;
    }

    .ad-address-container {
        width: 100% !important;
        margin: 20px 0 !important;
    }

    .pd-price-box {
        width: 60% !important;
    }
}

/* Too Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cart-back-arrow {
        margin-left: 30px !important;
    }

    .cart-tab-title {
        font-size: 15px !important;
    }

    .cart-tab-line {
        margin: 0px 15px !important;
    }
    
    .ma1-size-quantity-container {
        flex-direction: column;
    }

    .ma1-item-size {
        padding: 3px 8px !important;
        margin-right: 10px !important;
        font-size: 12px !important;
    }

    .ma1-item-price {
        margin-bottom: 5px !important;
    }

    .ma1-item-size {
        margin-bottom: 10px !important;
    }

    .ma1-item-title {
        font-size: 16px !important;
        font-weight: 500 !important;
    }

    .ma1-item-description {
        font-size: 14px !important;
    }

    .ma1-item-price {
        font-size: 14px !important;
        font-weight: 500 !important;
        color: green;
    }

    .ma1-quantity-box-container {
        flex-direction: column !important;
    }

    .ma1-quantity-box {
        margin-bottom: 5px;
        width: 100%;
        justify-content: center;
        font-size: 12px !important;
        padding: 7px 20px !important;
    }

    .ma1-item-container {
        margin-right: 30px !important;
    }

    .ma1-item-container > img {
        /* width: 107px !important; */
        /* height: 150px; */
    }

    .ma1-item-quantity-title {
        /* display: none !important; */
        font-size: 12px !important;
    }

    .ma1-item-size-title {
        display: none !important;
    }

    .ma1-container {
        padding: 0px 30px !important;
        margin: 20px !important;
    }

    .ad-address-container {
        padding: 0px !important;
    }

    .ad-details {
        padding: 10px 15px !important;
        font-size: 13px !important;
    }

    .ma1-price-title {
        font-size: 17px !important;
        margin-bottom: 15px !important;
    }

    .ma1-text-container {
        font-size: 14px !important;
    }

    .pd-price-box {
        width: 70% !important;
        padding: 30px !important;
    }
}

/* Too Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 400px) {
    .cart-back-arrow {
        margin-left: 20px !important;
    }

    .cart-tab-title {
        font-size: 13px !important;
    }

    .cart-tab-line {
        margin: 0px 10px !important;
    }

    .ma1-container {
        margin: 20px 0 !important;
    }

    .ma1-items-container {
        padding: 10px !important;
    }

    .ma1-item-container > img {
        margin-right: 10px !important;
    }

    .ma1-price-container {
        padding: 20px !important;
    }

    .ma1-price-title {
        font-size: 15px !important;
    }

    .ma1-text-container {
        font-size: 13px !important;
    }

    .pd-price-box {
        width: 80% !important;
        padding: 30px !important;
    }
}