.min-carousel-container {
    padding: 0 50px;
  font-family: 'Ysabeau Office', sans-serif;
}

.min-carousel-left-arrow {
    left: 15px;
    top: 38%;
    transform: scale(0.8);
  }
  
  .min-carousel-right-arrow {
    right: 15px;
    top: 38%;
    transform: scale(0.8);
  }

/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
    .min-carousel-container {
      padding: 0 50px;
      margin: 70px 0;
    }
    
    .min-carousel-left-arrow {
      left: 15px;
      top: 38%;
      transform: scale(0.8);
    }
    
    .min-carousel-right-arrow {
      right: 15px;
      top: 38%;
      transform: scale(0.8);
    }
  }
  
  /* Medium devices (landscape tablets, 992px and down) */
  @media only screen and (max-width: 992px) {
    .min-carousel-container {
      padding: 0 30px;
    }
    
    .min-carousel-left-arrow {
      left: 10px;
      top: 36%;
      transform: scale(0.7);
    }
    
    .min-carousel-right-arrow {
      right: 10px;
      top: 36%;
      transform: scale(0.7);
    }
  }
  
  /* Small devices (portrait tablets and large phones, 768px and down) */
  @media only screen and (max-width: 768px) {
    .min-carousel-container {
      padding: 0 20px;
      margin: 50px 0;
    }
    
    .min-carousel-left-arrow {
      left: 5px;
      top: 36%;
      transform: scale(0.6);
    }
    
    .min-carousel-right-arrow {
      right: 5px;
      top: 36%;
      transform: scale(0.6);
    }
  
    .carousel-card > div {
      font-size: 0.9rem;
    }
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .min-carousel-container {
      padding: 0 10px;
      margin: 50px 0;
    }
    
    .min-carousel-left-arrow {
      left: 0px;
      top: 34%;
      transform: scale(0.5);
    }
    
    .min-carousel-right-arrow {
      right: 0px;
      top: 34%;
      transform: scale(0.5);
    }
  
    .carousel-card > div {
      font-size: 0.8rem;
    }
  }
  
  /* Too Extra small devices (phones, 400px and down) */
  @media only screen and (max-width: 400px) {
    .min-carousel-container {
      padding: 0 10px;
      margin: 50px 0;
    }
    
    .min-carousel-left-arrow {
      left: 5px;
      top: 33%;
      transform: scale(0.5);
    }
    
    .min-carousel-right-arrow {
      right: 5px;
      top: 33%;
      transform: scale(0.5);
    }
  }