.min-carousel-container {
    padding: 0 100px;
}

.min-carousel{
    width: 100%;
    height: 70vh;
}

.min-collection-image {
    width: 100%;
    height: 100%;   
    object-fit: cover;
}

.min-collection-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.min-collection-card-text-back {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #A28E69;
    background-color: #fff;
    opacity: 0.8;
}

.min-collection-card-text {
    opacity: 1;
    margin-bottom: 0px;
}


.min-collection-card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #A28E69;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
}

.min-collection-card {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    /* margin: 0 2%; */
}

@media only screen and (max-width: 2160px) and (min-width: 600px){
    .collection-card-button {
      padding: 10px 25px;
    }
  
    .collection-card {
      position: relative;
        display: inline-block;
        width: 300px;
        height: 600px;
        margin: 15px 0px;
    }
  }

@media only screen and (max-width: 600px) {
    .carousel-container{
        margin: 10px 10px;
    }
    .collection-card-button {
        padding: 10px 10px;
    }

    .collection-card {
        position: relative;
        display: inline-block;
        width: 150px;
        height: 300px;
        margin: 15px 0px;
    }
}