<table style="border-collapse:collapse;table-layout:fixed;margin:0 auto;border-spacing:0;padding:0;height:100%!important;width:100%!important;font-weight:normal;color:;font-family:'roboto',Arial,Helvetica,sans-serif;font-size:14px;line-height:1.4" height="100%" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td style="background:#ffffff;padding:16px 0">
                <table style="max-width:800px;margin:auto;border-spacing:0;background:#e8e8e8;padding:1px;overflow:hidden" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td style="border-collapse:collapse">
                                <table style="margin:auto;border-spacing:0;background:white;border-radius:0px;overflow:hidden" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="border-collapse:collapse">
                                                <table style="border-spacing:0;border-collapse:collapse" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-collapse:collapse;padding:16px 32px" align="left" valign="middle">
                                                                <table style="border-spacing:0;border-collapse:collapse" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            
																			<td align="left" valign="middle" style="font-size:35px;font-weight:700;color:#404040;"> compastrips </td>
                                                                           
                                                                          
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td style="border-collapse:collapse;padding:32px;background:#ffffff;font-family:'roboto',Arial,Helvetica,sans-serif">
                                                	<p style="padding:0;margin:0;color:#404040;font-weight:600;line-height:1.5;">
                                                    Hi <span style="color:#404040;font-weight:600;text-decoration:none">{{email}},</span> <br><br> We’ve received a request to reset your password.<br> Please click the button below to reset your password. <br><br><br> </p>

                                                    <div style="text-align:center;"><a href="" style="color:#fff;background-color:#B931B8;padding:20px 30px;text-decoration:none;font-weight:600;letter-spacing:0.8px;">{{otp}}</a> <br><br></div>
                                                    <br><br>
                                                    <p style="padding:0;margin:0;color:#404040;font-weight:600;line-height:1.5;"> Please ignore this email if you didn’t make such request. <br><br> Thanks,<br><br><br> The Compastrip Team <br><br> Please do not respond to this email.  This email has been sent in accordance with your consent to receive emails from Compastrips under the Compastrips Terms of Use and Privacy and Cookie Statement. 
													If you do not wish to receive emails from us, please log in and update your membership information.  If you have any inquiries, please visit our Inquiry or Customer Service page and follow instructions. <br><br><br><br></p>
													<p style="color:#444444;font-weight:600;font-size:15px;">© Compas Interactive Inc. ALL RIGHTS RESERVED.</p>
                                            </td>
                                        </tr>
                                     <!--    <tr>
                                            <td style="border-collapse:collapse;padding:16px 32px;border-top:1px solid #eaeaed;font-family:'roboto',Arial,Helvetica,sans-serif;font-size:12px;background:#c68d9f;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" valign="middle" style="border-collapse:collapse;font-weight:normal">
                                                                <a href="#" style="color:#fff;font-size:12px;padding:4px;height:24px;display:inline-block;text-transform:capitalize;outline:0;outline:none;border:0;border:none;text-decoration:none;" target="_blank"> Home </a>
                                                                <a href="#" style="color:#fff;font-size:12px;padding:4px;height:24px;display:inline-block;text-transform:capitalize;outline:0;outline:none;border:0;border:none;text-decoration:none;" target="_blank"> About us </a>
                                                                <a href="#" style="color:#fff;font-size:12px;padding:4px;height:24px;display:inline-block;text-transform:capitalize;outline:0;outline:none;border:0;border:none;text-decoration:none;" target="_blank"> Shop </a>
                                                                <a href="#" style="color:#fff;font-size:12px;padding:4px;height:24px;display:inline-block;text-transform:capitalize;outline:0;outline:none;border:0;border:none;text-decoration:none;" target="_blank">
                                                                    Policy </a>
                                                                <a href="#" style="color:#fff;font-size:12px;padding:4px;height:24px;display:inline-block;text-transform:capitalize;outline:0;outline:none;border:0;border:none;text-decoration:none;" target="_blank"> Conatct Us </a>
                                                            </td>
                                                            <td width="16" align="left" valign="middle" style="border-collapse:collapse">&nbsp;</td>
                                                            <td align="right" valign="middle" style="border-collapse:collapse">
                                                                <table border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="border-collapse:collapse">
                                                                                <a href="#" style="font-size:0;border:0;outline:0;border:none;outline:none;text-decoration:none;margin-right:4px" target="_blank">
                                                                                    <img src="https://i.ibb.co/279SQpm/facebook.png" width="24" src="#" title="Facebook" alt="Facebook">
                                                                                </a>
                                                                                <a href="#" style="font-size:0;border:0;outline:0;border:none;outline:none;text-decoration:none;margin-right:4px" target="_blank">
                                                                                    <img src="https://i.ibb.co/3zs1VJj/instagram-1.png" width="24" src="#" title="Facebook" alt="Facebook">

                                                                                </a>
                                                                                <a href="#" style="font-size:0;border:0;outline:0;border:none;outline:none;text-decoration:none;margin-right:4px" target="_blank">
                                                                                    <img src="https://i.ibb.co/h98BS7s/twitter.png" width="24" src="#" title="Facebook" alt="Facebook">
                                                                                </a>
                                                                                <a href="#" style="font-size:0;border:0;outline:0;border:none;outline:none;text-decoration:none;margin-right:4px" target="_blank">
                                                                                    <img src="https://i.ibb.co/zQj8LJF/gmail.png" width="24" src="#" title="Facebook" alt="Facebook">
                                                                                </a>
                                                                                <a href="#" style="font-size:0;border:0;outline:0;border:none;outline:none;text-decoration:none;margin-right:4px" target="_blank">
                                                                                    <img src="https://i.ibb.co/4gwLLk4/whatsapp.png" width="24" src="#" title="Facebook" alt="Facebook">
                                                                                </a>
                                                                                <a href="#" style="font-size:0;border:0;outline:0;border:none;outline:none;text-decoration:none;margin-right:4px" target="_blank">
                                                                                    <img src="https://i.ibb.co/jzLsSFs/pinterest.png" width="24" src="#" title="Facebook" alt="Facebook">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>