.category-tab {
  padding: 7px 30px;
  margin: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.item-list-card {
  width: 300px;
  padding: 0 5px;
  cursor: pointer;
}

.item-list-card > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.item-list-card > div {
  font-size: 1rem;
}

/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
  
}

/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
  .category-tab {
    padding: 7px 30px;
    margin: 5px;
    font-size: 0.8rem;
  }

  .item-list-card {
    width: 240px;
  }
  
  .item-list-card > img {
    height: 320px;
  }
}

/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .item-list-card {
    width: 270px;
  }
  
  .item-list-card > img {
    height: 360px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .category-tab {
    padding: 5px 20px;
    margin: 3px;
    font-size: 0.7rem;
  }

  .item-list-card {
    width: 220px;
  }
  
  .item-list-card > img {
    height: 293px;
  }

  .item-list-card > div {
    font-size: 0.8rem;
  }
}

/* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 500px) {
  .category-tab {
    padding: 5px 20px;
    margin: 3px;
    font-size: 0.7rem;
  }

  .item-list-card {
    width: 170px;
  }
  
  .item-list-card > img {
    height: 227px;
  }
}

/* Too Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  .category-tab {
    padding: 5px 10px;
    margin: 3px;
  }

  .item-list-card {
    width: 130px;
  }
  
  .item-list-card > img {
    height: 173px;
  }
}