.max-carousel-container {
  padding: 0 100px;
  margin: 100px 0;
  font-family: 'Ysabeau Office', sans-serif;
}

.max-carousel-left-arrow {
  left: 20px;
  top: 40%;
}

.max-carousel-right-arrow {
  right: 20px;
  top: 40%;
}

.react-multiple-carousel__arrow::before {
  color: black;
}

.carousel-card > img {
  object-fit: cover;
}

.carousel-card > div {
  font-size: 1rem;
}

/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
  .max-carousel-container {
    padding: 0 50px;
    margin: 70px 0;
  }
  
  .max-carousel-left-arrow {
    left: 15px;
    top: 38%;
    transform: scale(0.8);
  }
  
  .max-carousel-right-arrow {
    right: 15px;
    top: 38%;
    transform: scale(0.8);
  }
}

/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
  .max-carousel-container {
    padding: 0 30px;
  }
  
  .max-carousel-left-arrow {
    left: 10px;
    top: 36%;
    transform: scale(0.7);
  }
  
  .max-carousel-right-arrow {
    right: 10px;
    top: 36%;
    transform: scale(0.7);
  }
}

/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .max-carousel-container {
    padding: 0 20px;
    margin: 50px 0;
  }
  
  .max-carousel-left-arrow {
    left: 5px;
    top: 32%;
    transform: scale(0.6);
  }
  
  .max-carousel-right-arrow {
    right: 5px;
    top: 32%;
    transform: scale(0.6);
  }

  .carousel-card > div {
    font-size: 0.9rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .max-carousel-container {
    padding: 0 10px;
    margin: 50px 0;
  }
  
  .max-carousel-left-arrow {
    left: 10px;
    top: 36%;
    transform: scale(0.7);
  }
  
  .max-carousel-right-arrow {
    right: 10px;
    top: 36%;
    transform: scale(0.7);
  }

  .carousel-card > div {
    font-size: 0.8rem;
  }
}

/* Too Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 400px) {
  .max-carousel-container {
    padding: 0 10px;
    margin: 50px 0;
  }
  
  .max-carousel-left-arrow {
    left: 15px;
    top: 40%;
    transform: scale(0.8);
  }
  
  .max-carousel-right-arrow {
    right: 15px;
    top: 40%;
    transform: scale(0.8);
  }
}