.accd-container {
    font-family: 'Ysabeau Office', sans-serif;
    margin: 50px 0 200px 0;
    padding-left: 300px;
}

/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {

}

/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
    .accd-container {
        padding-left: 50px;
    }
}

/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {

}

/* Too Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .accd-container {
        padding-left: 30px;
    }
}

/* Too Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 400px) {
    
}