/* Item Listing */

.item-listing-tabs{
  margin-top: 10px;
}
.nav{
  --bs-nav-link-color: #F4EDE3;
  --bs-nav-link-hover-color: #a2967f
}
.nav-pills{
  padding: 2px;
}
.nav-pills > .nav-item{
  /* color: #F4EDE3 */
  border: 2px solid #F4EDE3;
  margin: 2px;
  border-radius: 0;
}
.nav-pills > .nav-item >.active{
  background-color: #F4EDE3;
  border-radius: 0;
}

.item-listing-add-to-cart{
  width: 100%;
  border: 2px solid #F4EDE3;
}
.item-listing-add-to-cart:hover{
  background-color: #F4EDE3;
  color: white;
}

/* Item  */
.review-card{
  width: 60vw; 
  border-radius:0 ;
  padding: 1vw ;
  margin-bottom: 8px;
}

.home-carousel-title {
  font-family: 'Ysabeau Office', sans-serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {

}

/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
  .home-carousel-title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .home-carousel-title {
    font-size: 22px;
    margin-bottom: 18px;
  }
}

/* Too Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home-carousel-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

/* Too Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 400px) {
  .home-carousel-title {
    font-size: 18px;
    margin-bottom: 0px;
  }
}