/* Item Listing */

.item-listing-tabs{
  margin-top: 10px;
}
.nav{
  --bs-nav-link-color: #F4EDE3;
  --bs-nav-link-hover-color: #a2967f
}
.nav-pills{
  padding: 2px;
}
.nav-pills > .nav-item{
  /* color: #F4EDE3 */
  border: 2px solid #F4EDE3;
  margin: 2px;
  border-radius: 0;
}
.nav-pills > .nav-item >.active{
  background-color: #F4EDE3;
  border-radius: 0;
}

.item-listing-add-to-cart{
  width: 100%;
  border: 2px solid #F4EDE3;
}
.item-listing-add-to-cart:hover{
  background-color: #F4EDE3;
  color: white;
}

/* Item  */
.review-card{
  width: 60vw; 
  border-radius:0 ;
  padding: 1vw ;
  margin-bottom: 8px;
}