.gallery-container {
  height: 700px;
}

.gallery-selected-image {
  width: 500px;
  object-fit: cover;
}

.gallery-list-image {
  height: 140px;
  width: 100px;
  object-fit: cover;
  cursor: pointer;
}

.gallery-list-image-container::-webkit-scrollbar {
  display: none;
}